/* styles. css */

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
}

/* styling for the toggle switch for dark/light mode */
.toggle {
    align-self: flex-start;
    padding: 4px 0px 0px 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 29px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #574E4E;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    left: 4px;
    bottom: 4px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 9px 0px #E7E0CF;
}

input:checked + .slider {
    background-color: #E7E0CF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background-color: #574E4E;
    box-shadow: none;
}


/* the calculator */
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512px;
    padding-bottom: 20px;
}

/* styling for calculator display */
.screen {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 80%;
    min-height: 130px;
    background-color: #E7E0CF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #332D2D;
}

.screen .calculations {
    width: 90%;
    min-height: 30px;
    text-align: end;
    overflow: scroll;
}

.screen .result {
    width: 90%;
    min-height: 40px;
    text-align: end;
    font-size: 40px;
    overflow: scroll;
}


/* styling for calculator buttons */
.calc-buttons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 290px;
    column-gap: 15px;
    row-gap: 10px;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

/* .delete {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
} */

button {
    font-size: 25px;
    background-color: #E7E0CF;
    color: #332D2D;
    border-style: none;
    border-radius: 15px;
    padding: 8px 0px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 3px #4a3d24;
    transform: scale(1.05);
}

.sqrt, .power, .delete, .pi, .percent, .int, .divd, .mult, .sub, .add, .equals, .clear {
    background-color: #574E4E;
    color: #fffaed;
}


/* styling for footer */
a {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 227, 207);
    text-shadow: 0px 0px 8px #602f1d;
}

.footer {
    background-color: #E7E0CF;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-size: 13px;
    color: #332D2D;
}



/* styling for smaller screens */
@media only screen and (max-width: 450px) {
    .calculator {
        width: 450px;
    }
    
    .screen {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .calculator {
        width: 400px;
    }

    .screen {
        margin-top: 15px;
    }
}